<template>
  <v-card>
    <v-card-title class="headline">
      <h2>Profilbildgenerator</h2>
    </v-card-title>
    <v-card-text>
      <p>Gerne kannst du hier dein Profilbild mit einem Aufruf zur Demo am 25.9. versehen.</p>
    </v-card-text>
    <v-card-actions class="d-flex d-sm-none">
      <v-spacer />
      <v-btn color="primary" tag="label" :for="`file-input-${_uid}`">
        Bild hochladen
      </v-btn>
      <v-spacer />
    </v-card-actions>
    <v-card-actions class="d-flex d-sm-none">
      <v-spacer />
      <v-btn
        :disabled="!dataUrl"
        color="primary"
        :loading="downloadLoading"
        @click="downloadImage"
      >
        Herunterladen
      </v-btn>
      <v-spacer />
    </v-card-actions>
    <v-card-actions class="d-flex d-sm-none">
      <v-spacer />
      <img class="mr-2" src="/img/icon_klima.png" alt="klima">
      <v-switch v-model="overlay" @change="changeOverlay" />
      <img src="/img/icon_piratenlogo.png" alt="piraten">
      <v-spacer />
    </v-card-actions>
    <v-card-actions class="d-none d-sm-flex">
      <v-btn color="primary" tag="label" :for="`file-input-${_uid}`">
        Bild hochladen
      </v-btn>
      <v-btn
        :disabled="!dataUrl"
        color="primary"
        :loading="downloadLoading"
        @click="downloadImage"
      >
        Herunterladen
      </v-btn>
      <v-spacer />
      <img class="mr-2" src="/img/icon_klima.png" alt="klima">
      <v-switch v-model="overlay" @change="changeOverlay" />
      <img src="/img/icon_piratenlogo.png" alt="piraten">
    </v-card-actions>
    <v-card-text>
      <input :id="`file-input-${_uid}`" type="file" accept="image/*" class="hidden" @input="startImageUpload">
      <canvas
        ref="viewport"
        :width="canvasSize"
        :height="canvasSize"
        style="width: 100%; max-width: 512px;"
        class="elevation-2"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import { saveAs } from 'file-saver'

export default {
  data () {
    return {
      canvasSize: 1024,
      overlay: true,
      context: undefined,
      uploadDataUrl: undefined,
      dataUrl: undefined,
      downloadLoading: false
    }
  },
  mounted () {
    this.context = this.$refs.viewport.getContext('2d')
    this.drawOverlay()

    this.resizeCanvas()
    window.addEventListener('resize', this.resizeCanvas)
  },
  destroyed () {
    window.removeEventListener('resize', this.resizeCanvas)
  },
  methods: {
    startImageUpload (e) {
      this.uploadDataUrl = URL.createObjectURL(e.target.files[0])
      this.drawImage()
    },
    clearCanvas () {
      this.context.fillStyle = '#fff'
      this.context.fillRect(0, 0, this.canvasSize, this.canvasSize)
    },
    drawImage () {
      const img = new Image()
      img.onload = () => {
        let left
        let top
        let width
        let height
        if (img.width > img.height) {
          width = this.canvasSize * (img.width / img.height)
          height = this.canvasSize
          left = -((width - this.canvasSize) / 2)
          top = 0
        } else {
          width = this.canvasSize
          height = this.canvasSize * (img.height / img.width)
          left = 0
          top = -((height - this.canvasSize) / 2)
        }
        this.clearCanvas()
        this.context.drawImage(img, left, top, width, height)

        this.drawOverlay(() => {
          this.dataUrl = this.$refs.viewport.toDataURL('image/png')
        })
      }
      img.src = this.uploadDataUrl
    },
    drawOverlay (cb) {
      const overlay = new Image()
      overlay.onload = () => {
        this.context.drawImage(overlay, 0, 0, this.canvasSize, this.canvasSize)
        cb && cb()
      }
      overlay.src = `/img/overlay_${this.overlay ? 'piraten' : 'klima'}.png`
    },
    resizeCanvas () {
      this.$refs.viewport.style.height = `${this.$refs.viewport.clientWidth}px`
    },
    changeOverlay () {
      if (this.uploadDataUrl) {
        this.drawImage()
      } else {
        this.clearCanvas()
        this.drawOverlay()
      }
    },
    downloadImage () {
      this.downloadLoading = true
      this.$refs.viewport.toBlob((blob) => {
        if (new Blob()) {
          saveAs(blob, 'pirates_for_future.png')
        } else {
          window.open(this.dataUrl)
        }
        this.$nextTick(() => (this.downloadLoading = false))
      })
    }
  }
}
</script>
<style scoped lang="scss">
.hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
</style>
