@font-face {
  font-family: 'PoliticsHead';
  src: url('/fonts/politicshead/PoliticsHead-Bold.eot');
  src: /**/
    url('/fonts/politicshead/PoliticsHead-Bold.woff2') format('woff2'),
    url('/fonts/politicshead/PoliticsHead-Bold.woff') format('woff'),
    url('/fonts/politicshead/PoliticsHead-Bold.ttf') format('truetype'),
    url('/fonts/politicshead/PoliticsHead-Bold.svg#PoliticsHead-Bold') format('svg'),
    url('/fonts/politicshead/PoliticsHead-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
.v-toolbar__title, {
  font-family: PoliticsHead, sans-serif;
}
