<template>
  <v-app>
    <v-app-bar fixed app>
      <v-toolbar-title>
        <h1 style="font-size: 1.4em;">
          <router-link style="text-decoration: none; color: #000;" to="/" v-text="title" />
        </h1>
      </v-toolbar-title>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer app style="font-size: 0.8em;">
      <div class="d-block" style="text-align: center;">
        <span>&copy; 2020</span>
      </div>
      <v-spacer />
      <div class="d-block" style="text-align: center;">
        <a href="https://www.piratenpartei.de">
          Piratenpartei Deutschland
        </a>
        <span class="pl-2" />
        <router-link to="/impressum">
          Impressum &amp; Datenschutz
        </router-link>
      </div>
    </v-footer>
  </v-app>
</template>

<script>
import 'roboto-fontface/css/roboto/sass/roboto-fontface.scss'
import '../assets/main.scss'

export default {
  data () {
    return {
      title: 'Pirates for Future'
    }
  }
}
</script>
