<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          <h2>Impressum</h2>
        </v-card-title>
        <v-card-text>
          <div class="table-of-contents">
            <ul>
              <li>
                <a href="#impressum">Impressum</a>
                <ul>
                  <li>
                    <a href="#angaben-gemass-§-5-tmg">Angaben gemäß § 5 TMG</a>
                  </li>
                  <li>
                    <a href="#landesgeschaftsstelle-der-piratenpartei-bayern">Landesgeschäftsstelle der Piratenpartei
                      Bayern</a>
                  </li>
                  <li>
                    <a href="#kontakt">Kontakt</a>
                  </li>
                  <li>
                    <a href="#verantwortlich-fur-den-inhalt-nach-§-55-abs-2-rstv">Verantwortlich für den Inhalt nach §
                      55 Abs. 2 RStV</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#datenschutzerklarung">Datenschutzerklärung</a>
                <ul>
                  <li>
                    <a href="#_1-datenschutz-auf-einen-blick">1. Datenschutz auf einen Blick</a>
                  </li>
                  <li>
                    <a href="#_2-allgemeine-hinweise-und-pflichtinformationen">2. Allgemeine Hinweise und
                      Pflichtinformationen</a>
                  </li>
                  <li>
                    <a href="#_3-datenerfassung-auf-unserer-website">3. Datenerfassung auf unserer Website</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <p />
          <h2 id="impressum">
            <a href="#impressum" class="header-anchor">#</a> Impressum
          </h2>
          <h3 id="angaben-gemass-§-5-tmg">
            <a href="#angaben-gemass-§-5-tmg" class="header-anchor">#</a> Angaben gemäß §
            5 TMG
          </h3>
          <p>
            Josef Reichardt<br>
            Tulpenstraße 8<br>
            94469 Deggendorf
          </p>
          <h3 id="landesgeschaftsstelle-der-piratenpartei-bayern">
            <a
              href="#landesgeschaftsstelle-der-piratenpartei-bayern"
              class="header-anchor"
            >#</a> Landesgeschäftsstelle
            der
            Piratenpartei Bayern
          </h3>
          <p>
            Piratenpartei Deutschland<br>
            Landesverband Bayern<br>
            Schopenhauerstr. 71<br>
            80807 München
          </p>
          <h3 id="kontakt">
            <a href="#kontakt" class="header-anchor">#</a> Kontakt
          </h3>
          <p>
            Telefon: +49 (0) 89 38 164 693-0<br>
            Telefax: +49 (0) 89 38 164 693-9<br>
            E-Mail: <a href="mailto:josef.reichardt@piraten-niederbayern.de">josef.reichardt@piraten-niederbayern.de</a>
          </p>
          <h3 id="verantwortlich-fur-den-inhalt-nach-§-55-abs-2-rstv">
            <a href="#verantwortlich-fur-den-inhalt-nach-§-55-abs-2-rstv" class="header-anchor">#</a> Verantwortlich für
            den Inhalt nach § 55 Abs. 2 RStV
          </h3>
          <p>
            Josef Reichardt<br>
            Tulpenstraße 8<br>
            94469 Deggendorf
          </p>
          <p>
            Quelle:<br>
            <a href="https://www.e-recht24.de" target="_blank" rel="noopener noreferrer">
              eRecht24
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                viewBox="0 0 100 100"
                width="15"
                height="15"
                class="icon outbound"
              >
                <path
                  fill="currentColor"
                  d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"
                />
                <polygon
                  fill="currentColor"
                  points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"
                />
              </svg>
            </a>
          </p>
          <h2 id="datenschutzerklarung">
            <a href="#datenschutzerklarung" class="header-anchor">#</a> Datenschutzerklärung
          </h2>
          <h3 id="_1-datenschutz-auf-einen-blick">
            <a href="#_1-datenschutz-auf-einen-blick" class="header-anchor">#</a>
            1. Datenschutz auf einen Blick
          </h3>
          <h4 id="allgemeine-hinweise">
            <a href="#allgemeine-hinweise" class="header-anchor">#</a>
            Allgemeine Hinweise
          </h4>
          <p>
            Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten
            passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
            persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen
            Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
          </p>
          <h4 id="datenerfassung-auf-unserer-website">
            <a href="#datenerfassung-auf-unserer-website" class="header-anchor">#</a>
            Datenerfassung auf unserer Website
          </h4>
          <h5 id="wer-ist-verantwortlich-fur-die-datenerfassung-auf-dieser-website">
            <a href="#wer-ist-verantwortlich-fur-die-datenerfassung-auf-dieser-website" class="header-anchor">#</a>
            Wer
            ist verantwortlich für die Datenerfassung auf dieser Website?
          </h5>
          <p>
            Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
            können Sie dem Impressum dieser Website entnehmen.
          </p>
          <h5 id="wie-erfassen-wir-ihre-daten">
            <a href="#wie-erfassen-wir-ihre-daten" class="header-anchor">#</a>
            Wie erfassen wir Ihre Daten?
          </h5>
          <p>
            Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um
            Daten handeln, die Sie in ein Kontaktformular eingeben.
          </p>
          <p>
            Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor
            allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
            Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.
          </p>
          <h5 id="wofur-nutzen-wir-ihre-daten">
            <a href="#wofur-nutzen-wir-ihre-daten" class="header-anchor">#</a>
            Wofür nutzen wir Ihre Daten?
          </h5>
          <p>
            Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere
            Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
          </p>
          <h5 id="welche-rechte-haben-sie-bezuglich-ihrer-daten">
            <a href="#welche-rechte-haben-sie-bezuglich-ihrer-daten" class="header-anchor">#</a>
            Welche Rechte haben Sie bezüglich Ihrer Daten?
          </h5>
          <p>
            Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer
            gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung,
            Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema
            Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des
            Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
          </p>
          <p>
            Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
            personenbezogenen Daten zu verlangen. Details hierzu entnehmen Sie der Datenschutzerklärung unter
            „Recht auf Einschränkung der Verarbeitung“.
          </p>
          <h3 id="_2-allgemeine-hinweise-und-pflichtinformationen">
            <a href="#_2-allgemeine-hinweise-und-pflichtinformationen" class="header-anchor">#</a>
            2. Allgemeine Hinweise und Pflichtinformationen
          </h3>
          <h4 id="datenschutz">
            <a href="#datenschutz" class="header-anchor">#</a>
            Datenschutz
          </h4>
          <p>
            Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
            personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie
            dieser Datenschutzerklärung.
          </p>
          <p>
            Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
            Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende
            Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie
            und zu welchem Zweck das geschieht.
          </p>
          <p>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich.
          </p>
          <h4 id="hinweis-zur-verantwortlichen-stelle">
            <a href="#hinweis-zur-verantwortlichen-stelle" class="header-anchor">#</a>
            Hinweis zur verantwortlichen Stelle
          </h4>
          <p>
            Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
          </p>
          <p>
            Josef Reichardt<br>
            Tulpenstraße 8<br>
            94469 Deggendorf<br>
            E-Mail: <a href="mailto:josef.reichardt@piraten-niederbayern.de">josef.reichardt@piraten-niederbayern.de</a>
          </p>
          <p>
            Piratenpartei Deutschland<br>
            Landesverband Bayern<br>
            Schopenhauerstr. 71<br>
            80807 München
          </p>
          <p>
            Telefon: +49 (0) 89 38 164 693-0<br>
            Telefax: +49 (0) 89 38 164 693-9
          </p>
          <p>
            Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen
            über
            die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.)
            entscheidet.
          </p>
          <h4 id="widerruf-ihrer-einwilligung-zur-datenverarbeitung">
            <a href="#widerruf-ihrer-einwilligung-zur-datenverarbeitung" class="header-anchor">#</a>
            Widerruf Ihrer Einwilligung zur Datenverarbeitung
          </h4>
          <p>
            Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
            bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns.
            Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
          </p>
          <h4
            id="widerspruchsrecht-gegen-die-datenerhebung-in-besonderen-fallen-sowie-gegen-direktwerbung-art-21-dsgvo"
          >
            <a
              href="#widerspruchsrecht-gegen-die-datenerhebung-in-besonderen-fallen-sowie-gegen-direktwerbung-art-21-dsgvo"
              class="header-anchor"
            >#</a>
            Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21 DSGVO)
          </h4>
          <p>
            Wenn die Datenverarbeitung auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie
            jederzeit das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Verarbeitung
            Ihrer personenbezogenen Daten Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen
            gestütztes Profiling. Die jeweilige Rechtsgrundlage, auf denen eine Verarbeitung beruht, entnehmen Sie
            dieser Datenschutzerklärung. Wenn Sie Widerspruch einlegen, werden wir Ihre betroffenen
            personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige
            Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen oder die
            Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen
            (Widerspruch nach Art. 21 Abs. 1 DSGVO).
          </p>
          <p>
            Werden Ihre personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das
            Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum
            Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher
            Direktwerbung in Verbindung steht. Wenn Sie widersprechen, werden Ihre personenbezogenen Daten
            anschließend nicht mehr zum Zwecke der Direktwerbung verwendet (Widerspruch nach Art. 21 Abs. 2
            DSGVO).
          </p>
          <h4 id="beschwerderecht-bei-der-zustandigen-aufsichtsbehorde">
            <a href="#beschwerderecht-bei-der-zustandigen-aufsichtsbehorde" class="header-anchor">#</a>
            Beschwerderecht bei der zuständigen Aufsichtsbehörde
          </h4>
          <p>
            Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer
            Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes
            oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger
            verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
          </p>
          <h4 id="recht-auf-datenubertragbarkeit">
            <a href="#recht-auf-datenubertragbarkeit" class="header-anchor">#</a>
            Recht auf Datenübertragbarkeit
          </h4>
          <p>
            Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags
            automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format
            aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen
            verlangen, erfolgt dies nur, soweit es technisch machbar ist.
          </p>
          <h4 id="ssl-bzw-tls-verschlusselung">
            <a href="#ssl-bzw-tls-verschlusselung" class="header-anchor">#</a>
            SSL- bzw. TLS-Verschlüsselung
          </h4>
          <p>
            Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
            Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-
            Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von
            “http://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
            Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht
            von Dritten mitgelesen werden.
          </p>
          <h4 id="auskunft-sperrung-loschung-und-berichtigung">
            <a href="#auskunft-sperrung-loschung-und-berichtigung" class="header-anchor">#</a>
            Auskunft, Sperrung, Löschung und Berichtigung
          </h4>
          <p>
            Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche
            Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
            Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
            Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der
            im Impressum angegebenen Adresse an uns wenden.
          </p>
          <h4 id="recht-auf-einschrankung-der-verarbeitung">
            <a href="#recht-auf-einschrankung-der-verarbeitung" class="header-anchor">#</a>
            Recht auf Einschränkung der Verarbeitung
          </h4>
          <p>
            Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
          </p>
          <p>
            Hierzu können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht
            auf Einschränkung der Verarbeitung besteht in folgenden Fällen:
          </p>
          <ul>
            <li>
              Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen wir
              in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die
              Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
            </li>
            <li>
              Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah / geschieht, können Sie
              statt der Löschung die Einschränkung der Datenverarbeitung verlangen.
            </li>
            <li>
              Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,
              Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der
              Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
            </li>
            <li>
              Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen
              Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen
              überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten
              zu verlangen.
            </li>
          </ul>
          <p>
            Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten – von
            ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder
            Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
            juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Europäischen Union oder
            eines Mitgliedstaats verarbeitet werden.
          </p>
          <h3 id="_3-datenerfassung-auf-unserer-website">
            <a href="#_3-datenerfassung-auf-unserer-website" class="header-anchor">#</a> 3. Datenerfassung auf unserer
            Website
          </h3>
          <h4 id="server-log-dateien">
            <a href="#server-log-dateien" class="header-anchor">#</a>
            Server-Log-Dateien
          </h4>
          <p>
            Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-
            Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:
          </p>
          <ul>
            <li>Browsertyp und Browserversion</li>
            <li>verwendetes Betriebssystem</li>
            <li>Referrer URL</li>
            <li>Hostname des zugreifenden Rechners</li>
            <li>Uhrzeit der Serveranfrage</li>
            <li>IP-Adresse</li>
          </ul>
          <p>
            Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
          </p>
          <p>
            Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat
            ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website –
            hierzu müssen die Server-Log-Files erfasst werden.
          </p>
          <p>
            Quelle:<br>
            <a
              href="https://www.e-recht24.de/muster-datenschutzerklaerung.html"
              target="_blank"
              rel="noopener noreferrer"
            >
              eRecht24
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                viewBox="0 0 100 100"
                width="15"
                height="15"
                class="icon outbound"
              >
                <path
                  fill="currentColor"
                  d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"
                />
                <polygon
                  fill="currentColor"
                  points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"
                />
              </svg>
            </a>
          </p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  scrollToTop: true
}
</script>
