<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <profile-pic-generator />
    </v-flex>
  </v-layout>
</template>

<script>
import ProfilePicGenerator from '~/components/ProfilePicGenerator.vue'

export default {
  components: {
    ProfilePicGenerator
  },
  scrollToTop: true
}
</script>
